{% extends "base/base.html" %}

{% load static %}

{% block contenido %}



  <div class="row g-5">
   <div class="col-md-8">
      
       <!--CARDS-->

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for p in productos %}
          <div class="col ">
            <div class="card shadow-sm">
              {% if p.imagen %}
                <img src="{{p.imagen.url}}" class="bd-placeholder-img card-img-top" width="100%" height="180">              
              {% else %}
                <img src="{% static 'images/default/noproducto.png' %}" class="bd-placeholder-img card-img-top" width="100%" height="180">
              {% endif %}

              <div class="card-body">
                <p class="card-text">{{p.nombre}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'productos:detalle' %}">Ver más..</a>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          {% endfor %}         
        </div>
               
        </article>
            <nav class="blog-pagination" aria-label="Pagination">
              <a class="btn btn-outline-primary" href="#">Anterior</a>
              <a class="btn btn-outline-secondary disabled">Siguiente</a>
            </nav>
   </div>







{% endblock contenido %}