{% extends "base/base.html" %}

{% block contenido %}



  <div class="row g-5">
   <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Artículos: 
      </h3>
       <!--CARDS-->

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for p in productos %}
          <div class="col ">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

              <div class="card-body">
                <p class="card-text">{{p.nombre}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!--<button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'productos:detalle' %}">Ver más..</a>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          {% endfor %}         
        </div>
               
        </article>
            <nav class="blog-pagination" aria-label="Pagination">
              <a class="btn btn-outline-primary" href="#">Anterior</a>
              <a class="btn btn-outline-secondary disabled">Siguiente</a>
            </nav>
          
   
 </div>





{% endblock contenido %}