<main class="container">
      <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 fst-italic">¡Bienvenidos a nuestro Blog!</h1>
          <p class="lead my-3">Te invitamos a visitar nuetsro sitio donde vas a poder encontrar un espacio en el <br> cual podrás informarte, aprender, crear y disfrutar!</p>
          <p class="lead mb-0"><a href="#" class="text-white fw-bold">Leer más...</a></p>
        </div>
      </div>
</main>